.au-cont{
   margin-top: 30px;
   margin-left: 100px;
   margin-right: 100px;
   text-indent: 50px;
   text-align: center;
}
.team{
   height: 500px;
   width: 500px;
}
.warehouse{
   height: 500px;
   width: 500px;
}