.home-cont{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h3{
        margin:50px;
        text-indent: 20px;
    }
    .stack{
        width: 500px;
        height: 500px;
        margin: 25px;
       
        
    }
}
