@import '../../Colors';
@import '../../Functions';

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    background-color: transparent;

    h1{
      text-decoration: underline;
    }
    
    
    }


  
